<style>
@font-face {
    font-family: Roboto-Black;
    src: url("./assets/fonts/Roboto-Black.ttf");
}

body {
    font-family: Roboto-Black, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: pink;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(./assets/img/background.jpg) no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
    font-weight: 300;
    padding: 0 20px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(191, 149, 247);
}

.nav-link:hover{
    transition: 1s;
    color: pink;
}

.section-item: a {
    color: green;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: purple;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section{
        width: 100%;
    }
}

.link {
    text-decoration: none;
    color: rgb(134, 153, 240);
    transition: color 0.5s;
}

.link:hover {
    color: rgb(13, 0, 128);
}

.mejpg {
    width: 200px;
    height: 200px;
    top: 100px;
    left: 200px;
    border-radius: 50%;
    transition: .3s;
    margin-right: 200px;
    object-fit: cover;
}

.section-item {
    position: relative;
    padding-left: 30px;
}

.main-header {
    background-color: rgba(00, 50, 255, 1);
    display: block;
    border-bottom: 5px solid black;
}
* {
    box-sizing: border-box;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 10px solid rgba(0, 200, 0, 0.5);
    border-left: 10px solid rgba(0, 200, 0, 0.5);
    border-right: 10px solid rgba(0, 200, 0, 0.5);
    border-radius: 10%;
}

.profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: purple;
    font-size: 32px;
    font-weight: 320;
    letter-spacing: 15px;
    word-spacing: 5px;
    line-height: 50px;

}

.nickname {
    font-size: 24px;
    color: rgba(7, 95, 5, 0.5);
}

.section-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #97b5be;
}

.nav-item {
    word-spacing: 20px;
}

.links {
    word-spacing: 5px;
}

.logo {
    width: 121px;
    height: 45px;
}

.footer-container {
    background-color: rgba(0, 200, 0, 0.5);
    border-top: 5px solid black;
}

.year-link {
position: relative;
right: 200px; bottom: 0;
}

.logo {
    position: relative;
    left: 1750px; bottom: 25px;
}

.year {
    font-weight: 1000;
}